body {
	background-color: #fff;
}

.input {
	margin: auto;
}

#map {
	height: 300px;
}

.container-fluid {
/*	display: flex;
	justify-content: space-around;*/
}

h1 {
/*	position: relative;
	float: left;*/
}

.day {
	text-align: center;
	border: 1px solid grey;
	background-color: ghostwhite;
}